[Unit]
Description=Omnik Data Logger service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/omniklogger.py --settings /etc/omnik/config.ini --settings /etc/omnik/config.yaml
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
